body, html {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  width: 100%;
}

nav {
  background-color: black;
  color: white;
  height: 75px;
  position: absolute;
  top: 0;
  width: 100%;
}


header {
  cursor: pointer;
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5px;
}

h2 {
  text-align: center;
}

input {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 0px auto;
  text-align: left;
  width: 60%;
}

table tr {
  border-bottom: 1px solid;
}

table td {
  margin-left: 200px;
}

table th,
table td {
    padding: 10px 20px;
}

table td span {
  display: none;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
}

.recipe-ingredients {
  margin: 50px 50px 50px 20px;
  width: 40%;
}

.find-missing-ing-btn {
  background-color: #e3e2de;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

.each-ing {
  padding-left: 10px;
  width: 40%;
}

.instructions {
  margin: 50px 50px 50px 20px;
  width: 40%;
}

.nav-bar-buttons {
  display: flex;
  flex: 1;
  float: right;
  margin-top: 25px;
}

.nav-bar-buttons li {
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  list-style-type: none;
  padding: 0px 20px;
  text-decoration: none;
}

.logo {
  height: 76px;
  width: 50px;
}

.featured-recipe-title,
.recipe-card-title,
.welcome-pantry-title,
.pantry-title {
  font-weight: 600;
  pointer-events: none;
  text-align: center;
}

.header-image {
  display: block;
  margin: 70px auto 0px auto;
  width: 80%;
}

.featured-recipes-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card-image {
  object-fit: cover;
  pointer-events: none;
  width: 100%;
}

.recipe-card {
  background-color: #dae4e6;
  cursor: pointer;
  display: inline-block;
  height: 300px;
  margin: 20px;
  position: relative;
  width: 25%;
}

.recipe-card:hover {
  box-shadow: -4px 7px 20px 0px #b4b0b0;
}

/* recipe page ----- */

.recipe-page {
  margin: 100px;
}

.recipe-page-image {
  float: right;
  margin: 50px;
  width: 50%;
}


.unselected-heart,
.selected-heart,
.selected-chef-hat,
.unselected-chef-hat {
  height: 25px;
  position: absolute;
  width: 25px;
}

.selected-chef-hat,
.unselected-chef-hat {
  bottom: 15px;
  right: 15px;
}

.unselected-heart,
.selected-heart {
  bottom: 15px;
  left: 15px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.pantry {
  margin-top: 150px;
}

.able-to-cook-alert {
  background-color: green;
  border-radius: 10px;
  color: white;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.price-to-make-alert {
  background-color: purple;
  border-radius: 10px;
  color: white;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.pantry-sub-header {
  text-align: center;
}

/* favorites */

.favorites {
  width: 100%;
}

.search-bar {
  display: flex;
  float: right;
  margin: 8% 20% 5% 0;
  width: 30%;
}

.search-button-icon {
  cursor: pointer;
  height: 25px;
  margin-top: 3px;
  pointer-events: none;
  width: 25px;
}

.search-button,
.meal-plan-search-btn {
  background: #43A2FE;
  border-radius: 0 5px 5px 0;
  border: 1px solid #43A2FE;
  color: #fff;
  cursor: pointer;
  height: 36px;
  width: 40px;
}

.search-term,
.meal-plan-search-term {
  border-radius: 5px 0 0 5px;
  border-right: none;
  border: 3px solid #43A2FE;
  color: black;
  height: 20px;
  padding: 5px;
  width: 100%;
}

.favorited-recipe-group,
.meal-plan-group{
  margin: 10% 15% 0 15%;
  position: absolute;
  top: 20%;
  width: 80%;
}

.all-recipes-group {
  margin: 0 15%;
  top: 20%;
  width: 80%;
}

.favorites-header,
.meal-plan-header {
  margin: 8% 0 5% 16%;
  position: absolute;
}


/* all recipes page*/

.all-recipes-header {
  margin-left: 10%;
  margin-top: 100px;
}

.recipes-header {
  margin-left: 10%;
}

.filters {
  background-color: lightgrey;
  border: 1px solid black;
  display: block;
  height: 225px;
  margin: 10px auto 0 auto;
  position: relative;
  width: 80%;
}

.tags {
  padding-left: 5%;
  padding-top: 1%;
}

.ingredients {
  padding-bottom: 1%;
  padding-left: 5%;
}

.filter-button {
  background-color: #43A2FE;
  border-radius: 8px;
  bottom: 34%;
  color: white;
  font-size: 25px;
  height: 50px;
  position: absolute;
  right: 15%;
  width: 15%;
}

/*search page*/
.box {
  display: inline;
  margin-left: 10px;
}

.filter-input {
  border-radius: 8px;
  display: flex;
  font-size: 16px;
  height: 20%;
  margin: 100px auto;
  width: 30%;
}

.missing-ing-section {
  background-color: #fffad4;
  border-radius: 15px;
  display: inline-block;
  padding: 30px;
}

.needed-ing-title {
  font-weight: bold;
  margin-top: 0px;
}
